a{
 color:rgb(200,100,20); text-decoration:none;
}
h1
{
  font-family: sans-serif;
}
div{
  margin-left: 50px;
}
bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
