ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
body{
  background:url(assign1.jpg) ;
    background-size: cover;
}
#newspage{
  background:url(assign1.jpg);
  background-size: cover;
}
.one
{
  margin-top: 13px;
  width: 400px;
  height: 200px;
float:left;

padding-left: 20px;

}
.wrap{
background:url(images/download.jpg) no-repeat;
  background-size: cover;
  padding-left: 420px;
  margin-bottom: 0px;
  margin-right:100px;
  margin-top: 13px;
  margin-left: 20px;
}
.body
{
  margin-top: 0px;
  padding-left: 0px;
  float: right;
  width: 800px;
  margin-right: 100px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 0;

}
h1
{
  text-align:center;
}
h2
{
  padding-left:20px;
}
li {
    float: left;
}

li a, .dropbtn {
  position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

#one,#two{
  margin-top: 50px;
  margin-bottom: 50px;
  width:200px;
  height:200px;
}
.grid_4
{
  float: left;
  position:relative;
  top:2px;
  left:20px;
  text-align: justify;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
}

.whole grid_5
{
  position:relative;
  top:2px;
  left:100px;
  text-align: justify;
  display: inline;
}

#three{
  position:relative;
  top:0;
  padding-left:40px;
  background: #92F22A;
}

#cover{
  padding-top: 5px;
  padding-left: 220px;
}
#release
{
  text-align: center;
  color:blue;
}
.mar
{
  margin:left:100px;
  margin-right:15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width:960px;
  height:500px;
}
.leader
{
  text-align: center;
}
#cover1{
  padding-top: 6px;
  padding-left: 7px;
}
.container_12
{
  padding-left: 0px;
}
#stack
{
  float: left;
  margin-top:-50px;
  padding-left: 20px;
  width:250px;
  height:250px;
  margin-bottom: 20px;
}
.leader{
  color:green;
}
#quote
{
  margin-left: 300px;
  text-align: justify;
  margin-right: 150px;
  letter-spacing: 2px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:black;
}
#vid
{
  margin-top: 650x;
  margin-left: -80px;
}
#speech{
  margin-right: 300px;
  margin-top: 45px;
  margin-left: -100px;
  color:green;
}

#last
{
  position: relative;
  margin-left: 150px;
  top: 50px;
}
#werl
{
  color:white;
}
#join
{
}
#onefoot
{
  margin-left: -20px;
    color:#7FFF00;
}
#twofoot
{
  margin-left: -20px;
  color:#00B5B5
}
#onefoot_1
{
  margin-top: 245px;
  margin-left: -20px;
  color:#00B5B5;
}

#offer
{
  color:green;
  margin-top: 10px;
}
#offersale{
  margin-left: 10px;
  float:left;
  margin-top:-523px;
  width:175px;
  height:500px;
}
#sale{
  float:right;
  width:400px;
  height:100px;
  margin-top: -700px;
  margin-right: 50px;
}
#head
{
  color:green;
}
.preorder
{
  float:left;
  display: inline;
}
#imagehover
{
  background-color:black;

   padding: 10px;
   display: none;
}
span:hover + #imagehover{
    display: block;
}
#onefoot_rel
{
  margin-top: 100px;
  margin-left: 20px;
  color:#7FFF00
}
#mark
{
  float: left;
  margin-top:-40px;
  padding-left: 20px;
  width:250px;
  height:250px;
  margin-bottom: 20px;
}
#count
{
  padding-top: 0px;
  margin-top: -100px;
  width:500px;
  height:100px;
  margin-left: 10px;
}
#search
{
  padding-left: 40px;
}
#hov{
    padding-top: 20px;
    width: 400px;
    height: 200px;
    background:url(images/nat45.gif);
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}
#hov:hover{
  width: 1240px;
    height: 350px;
}
#lib
{
  background: url(images/lib.jpg) ;
  background-attachment: fixed;
  width:100%;
  height:1080px;
  top:-50px;
  color:white;
  padding-top: 50px;
}
#spa{
 color:#FD5B03;
}
#spa2
{
  color:#D33257;
}
#girl
{
  width:200px;
  height:200px;
  opacity: 0.5;
}
#girl:hover{
  opacity: 5;
}
#sav
{
  background: url(images/bo.jpg) ;
  background-attachment: fixed;
  width:100%;
  height:1200px;
  color:white;
  padding-top: 50px;
  margin-top: -20px;
}
.sign
{
float: right;
margin-left: 880px;
}
#job
{
  padding-top: 20px;
padding-bottom: 10px;
background: url(images/foot.jpg);
}
.sign_1
{
  float:right;
  margin-left: 750px;
}
.web
{
  margin-top: 0px;
  padding-left: 5px;
}
#parker
{
  margin-top: 150px;
  text-align: center;
  padding-top: 70px;
  padding-left: 30px;
font-family: 'Montserrat', sans-serif;
color:#F7D00D;
  letter-spacing: 5px;
}

#gaya
{
  margin-top: -20px;
}
#whole_1
{
  margin-top: 60px;
}
.sign_rel
{
  margin-left: 880px;
}
#save
{
  background: url(images/asw.jpg) ;
  background-attachment: fixed;
  width:100%;
  height:780px;
  color:white;
  padding-top: 50px;
  margin-top: -20px;
}
.grid_2
{
  margin-left: 10px;
  padding-left: 20px;
}
#whole_2
{
  margin-top: 0px;
}
#lens
{
  background: url(images/sdf.jpg) ;
  background-attachment: fixed;
  width:100%;
  height:700px;
  color:white;
  padding-top: 50px;
  margin-top: -20px;
}
#partone{
  margin-top: 10px;
}
#parttwo
{
  margin-top: 70px;
}
#enough
{
  margin-top: 50px;
}
#part{
  margin-top: 10px;

}
#pass
{
  color:red;
  margin-top:6px;

}
#ref
{
  color: red;
}
#san
{
  margin-top: 10px;
}
#rock
{

  color:white;
  font-size: 15px;
}
#water
{
  color: #EBBD63;
}
#lav
{
  padding-left: 5px;
  text-decoration: none;
  color: white;
}
#job_2
{
  margin-top: 280px;
  padding-top: 30px;
padding-bottom: 50px;
background: url(images/foot.jpg);
}
#whole_6
{
  margin-top: 50px;
}
#job_3
{
  margin-top: 0px;
  padding-top: 20px;
padding-bottom: 20px;
background: url(images/foot.jpg);
}
#bla
{
  padding left:100px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 250px;
  color:#E75926;
}
#passrel
{
  color:red;
  margin-top:-13px;
}
#peb
{
  font-size: 2em;
  text-decoration: none;
}
#web
{
  margin-top: -24px;
}
#right
{
  margin-top: -80px;
  color:#EE543A;
  font-size:50px;
}
#fast
{
  display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}
fast:hover{
  box-shadow: 0 0 2px 1px rgba
    (0, 140, 186, 0.5);
}
#peb{
  color:white;
}
#free
{
  color: white;
}
#jab{
  margin-bottom: 15px;
  margin-top: -10px;
}
#logo
{
  padding-top: 20px;
  padding-left: 400px;
  width:90px;
  height:90px;
}
#inc
{
  margin-top: -60px;
  font-size: 40px;
    color:#EE543A;
}
#logo1
{
  padding-top: 2px;
  padding-left: 490px;
  width:50px;
  height:50px;
}
#black
{
  padding-top: -20px;
  margin-top: -38px;
  padding-bottom: 30px;
  opacity:0.5;
  background: black;
  margin-left: 350px;
  margin-right: 350px;
}
